@page "/addcategory"
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavManager
@inject IAddCategoryUseCase AddCategoryUseCase

<h3>Add Category</h3>

@if (category != null)
{
    <EditForm Model="category" class="form-inline" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="category.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <InputTextArea id="desc" @bind-Value="category.Description" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancel</button>
    </EditForm>
}

@code {
    private Category category;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        category = new();
    }

    private void OnValidSubmit()
    {
        AddCategoryUseCase.Execute(category);
        NavManager.NavigateTo("/categories");
    }

    private void OnCancel()
    {
        NavManager.NavigateTo("/categories");
    }
}
