@page "/categories"
@inject NavigationManager NavManager
@inject IViewCategoriesUseCase ViewCategoriesUseCase
@inject IDeleteCategoryUseCase DeleteCategoryUseCase

<h3>Manage Categories</h3>

@if (categories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)   
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><button type="button" class="btn btn-warning" @onclick="(() => EditCategory(category))">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" @onclick="(() => DeleteCategory(category.CategoryId))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<br/>
<button type="button" class="btn btn-primary" @onclick="AddCategory">Add Category</button>

@code {
    private List<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadCategories();
    }

    private void AddCategory()
    {
        NavManager.NavigateTo("/addcategory");
    }

    private void LoadCategories()
    {
        categories = ViewCategoriesUseCase.Execute().ToList();
    }

    private void EditCategory(Category category)
    {
        NavManager.NavigateTo($"/editcategory/{category.CategoryId}");
    }

    private void DeleteCategory(int categoryId)
    {
        DeleteCategoryUseCase.Execute(categoryId);
        LoadCategories();
    }
}
