@page "/products"

@inject NavigationManager NavManager
@inject IViewProductsUseCase ViewProductsUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase

<h3>Manage Products</h3>

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)   
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@GetCategoryByIdUseCase.Execute(product.CategoryId.Value)?.Name</td>
                    <td>$ @(Math.Round(product.Price.Value, 2))</td>
                    <td>@product.Quantity</td>
                    <td><button type="button" class="btn btn-warning" >Edit</button></td>
                    <td><button type="button" class="btn btn-danger" >Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<br/>
<button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = ViewProductsUseCase.Execute();
    }

    private void AddProduct()
    {
        NavManager.NavigateTo("/addproduct");
    }

    private void LoadProducts()
    {
        products = ViewProductsUseCase.Execute().ToList();
    }

    private void EditProduct(Product product)
    {
        NavManager.NavigateTo($"/editproduct/{product.ProductId}");
    }

    private void DeleteProduct(int categoryId)
    {
        //DeleteProductUseCase.Execute(categoryId);
        LoadProducts();
    }
}
