@page "/cashier_console"

<h3>Cashier's Console</h3>
<br/>

<div class="row">
    <div class="col-4">
        <SelectProductForSellingComponent />
    </div>
    <div class="col">
        Placeholder
    </div>
</div>

@code {

}
